<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @equip_type.description %>
</p>

<%= link_to 'Edit', edit_equip_type_path(@equip_type) %> |
<%= link_to 'Back', equip_types_path %>
